{
  "openapi": "3.1.0",
  "info": {
    "title": "Google Calendar API",
    "version": "1.0.0",
    "description": "Fetch today's events from the user's Google Calendar."
  },
  "servers": [
    {
      "url": "https://www.googleapis.com/calendar/v3"
    }
  ],
  "paths": {
    "/calendars/primary/events": {
      "get": {
        "operationId": "getDailyAgenda",
        "summary": "Get today's events",
        "parameters": [
          {
            "name": "timeMin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeMax",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "singleEvents",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["startTime"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of calendar events"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/calendar.events"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/calendar.readonly": "View your calendar events"
            }
          }
        }
      }
    }
  }
}
